@import 'tailwindcss';

@theme {
  --font-sans: 'Space Grotesk', sans-serif;
}

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'mono';
  default: true;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(15% 0 0);
  --color-base-300: oklch(25% 0 0);
  --color-base-content: oklch(90% 0 0);
  --color-primary: oklch(98% 0 0);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(40% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(70% 0 0);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: oklch(90% 0 0);
  --color-info: oklch(70% 0.15 250);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(75% 0.18 150);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(85% 0.15 100);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(60% 0.2 30);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
  --font-family: 'Space Grotesk', sans-serif;
}
